{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Edit Team</h1>
        <p>Use the form below to edit details about a specific team within the league.  </p>

        <div class="col-md-12">
            <div class="col-md-6">
                {{ form_start(teamForm) }}
                {{ form_end(teamForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
