<div id="leagueTableHelp" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
                <p>Some useful information about the league table</p>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>Pos</strong>
                    </div>
                    <div class="col-md-11">
                        each team's position in the league table
                    </div>
                </div>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>Pld</strong>
                    </div>
                    <div class="col-md-11">
                        the number of matches each team has played
                    </div>
                </div>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>W</strong>
                    </div>
                    <div class="col-md-11">
                        the number of matches each team has won
                    </div>
                </div>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>D</strong>
                    </div>
                    <div class="col-md-11">
                        the number of matches each team has drawn
                    </div>
                </div>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>L</strong>
                    </div>
                    <div class="col-md-11">
                        the number of matches each team has lost
                    </div>
                </div>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>+</strong>
                    </div>
                    <div class="col-md-11">
                        the number of goals each team has scored
                    </div>
                </div>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>-</strong>
                    </div>
                    <div class="col-md-11">
                        the number of goals each team has conceded
                    </div>
                </div>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>GD</strong>
                    </div>
                    <div class="col-md-11">
                        the sum of goals scored minus goals conceded for each team
                    </div>
                </div>

                <div class="row top-padding-5">
                    <div class="col-md-1">
                        <strong>Pts</strong>
                    </div>
                    <div class="col-md-11">
                        the number of points each team has accumulated
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>