<div class="col-md-3">

</div>
<div class="col-md-6">
<h1>Select a League</h1>

    {% if errorMessage is defined %}
        <div class="col-md-12 alert alert-danger">
            {{ errorMessage }}
        </div>
    {% endif %}

    <div class="col-md-12">
        <p>
            Use the box below to enter the access code that was sent to you.
        </p>
    </div>
    <div class="col-md-6">
        <form method="post" action="{{ path('select_league') }}">
            <div class="form-group">
                <input type="text" name="accessCode" id="accessCode" class="form-control" placeholder="Access Code">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Confirm">
            </div>
        </form>
    </div>
</div>
<div class="col-md-3">

</div>